<!doctype html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117688427-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-117688427-1');
    </script>
    <title>PAC Free Congress</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'candidates/img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'candidates/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="description" content="Search to find who on your voter ballot is not taking big money from corporations">
    <meta name="keywords" content="campaign finance reform, money in politics, pac money, congressional campaigns, congress, senate, house, elections, voter, ballot">
    <meta property="og:url" content="https://pacfreecongress.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="PAC Free Congress">
    <meta property="og:description" content="Search to find who on your voter ballot is not taking big money from corporations">
    <meta property="og:image" content="https://pacfreecongress.com/static/candidates/img/logo_large.png">
    <meta property="fb:app_id" content="1084360178370341">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="container">
        <nav class="nav-header">
            <div class = "logo-wrapper">
                <a class="logo" href="{% url 'candidates:index' %}">
                    <img src="{% static 'candidates/img/logo.png' %}">
                </a>
            </div>
            <div class="support-email">
                <a class="support-email-text" href="mailto:spencer@pacfreecongress.com">
                    spencer@pacfreecongress.com
                </a>
            </div>
        </nav>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>
