<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>PAC Free Congress</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'candidates/img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'candidates/main.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="container">
        <nav class="nav-header">
            <div class = "logo-wrapper">
                <a class="logo" href="{% url 'candidates:index' %}">
                    <img src="{% static 'candidates/img/logo.png' %}">
                </a>
            </div>
            <div class="support-email">
                <a class="support-email-text" href="mailto:spencer@pacfreecongress.com">
                    spencer@pacfreecongress.com
                </a>
            </div>
        </nav>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>
