@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background: url("img/background.png");
  font-family: 'Raleway', sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 700px;
}

.support-email {
  float: right;
  font-size: 1.1em;
  transform: translateY(25px)
}

.support-email .support-email-text {
  color: #3274EE;
}

.content .search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin-top: 30px;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 8px;
  box-shadow: 0 11px 22px 0 rgba(0,0,0,0.1);
}

.content .search-content {
  margin: 40px 60px 40px 60px;
}

.content .search-content .search-location {
  font-size: 1.1em;
  font-weight: bold;
}

#search-input {
  width: 100%;
  height: 50px;
  font-size: 1.4em;
  padding-left: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.2);
  margin-bottom: 15px;
}

#search-input:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

#search-btn {
  height: 50px;
  width: 210px;
  display: block;
  margin: 0 auto;
  color: white;
  background: #17a2b8;
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px #9ecaed;
  border: 1px solid #dadada;
  border-radius: 5px;
}

#search-btn:hover {
  background: #0f8598;
  border-color: #9ecaed;
}

#search-btn:focus {
  outline: none;
  border-width: 3px;
}

.content .about .about-content {
  margin: 65px 100px 50px 100px;
}

.content .about .about-content .results-h {
  font-size: 18px;
}
